[submodule "Virtual-Firmware-grSim"]
	path = Virtual-Firmware-grSim
	url = https://github.com/IEEE-UCSD-RoboCup-2020/Virtual-Firmware-grSim.git
[submodule "PyRemote"]
	path = PyRemote
	url = https://github.com/IEEE-UCSD-RoboCup-2020/PyRemote.git
[submodule "TritonSoccerAI"]
	path = TritonSoccerAI
	url = https://github.com/IEEE-UCSD-RoboCup-2020/TritonSoccerAI.git
[submodule "TritonBot"]
	path = TritonBot
	url = https://github.com/IEEE-UCSD-RoboCup-2020/TritonBot.git
